<body align="center" style="
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 60px;
    padding-bottom: 100px;
    background-color: #fae03c
">
<div style="border-top:2px solid blue; border-bottom:2px solid red; border-left:2px solid chartreuse; border-right:2px solid yellow; padding:10px;">



<h3 style="color:#f7786b">메일을 성공적으로 보냈습니다.</h1>
</div>
<a href = "/" ; style="color:pink"> 메인으로 가기 </a> 
